

section{
  padding: 70px 0;
}

.showcase{
  height: 450px;
  background: url($showcase-image) no-repeat top center;
  .showcase-content{
    padding: 80px 15px;
    text-align: center;
  }

  h1{
    color : $primary-color;
  }

}
