
$base-font-size: 15px;
$base-font-family:sans-serif;
$base-font-color: #666666;

$primary-color: #00aff0;
$secondary-color: #7fba00;
$light-color: lighten(#e4eef2, 50%);;
$dark-color: #333333;

$showcase-image : "../img/office.jpg"
