.navbar{
   width:90%;
   margin : auto;
   background: #fff;
   min-height: 60px;
   margin-bottom : 30px;
  // @include add-border(1px, #e7e7e7, 'right-left');
  // border-color: #e7e7e7;
   a{
     padding-bottom: 24px !important;
     padding-top: 20px !important;
     color : $primary-color !important;
     font-size: 20px;
   }
}

.navbar-inverse .navbar-toggle .icon-bar{
  background-color: $primary-color;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color:#fff !important;
  background-color: $primary-color !important;
}


.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
  background-color: $primary-color;
}
